:root{
    font-size: 16px;
    font-family: 'Open Sans';
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --nice-purple: #9966CC;
    --transition-speed: 600ms;
}

a{
    text-decoration: none;
    color: white;
}
input[type='date']{
    color: white;
}

button{
    font-family: 'Open Sans';
    border-color:var(--nice-purple);
    border-radius: 1rem;
    background-color: var(--bg-primary);
    color: white;
    width: 6rem;
}
#id_image{
    width: 100%;
    border-color:var(--nice-purple);
    border-radius: 1rem;
    background-color: var(--bg-primary);
    color: white;
    font-family: 'Open Sans';
}

  
