:root{
    font-size: 16px;
    font-family: 'Open Sans';
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --nice-purple: #9966CC;
    --transition-speed: 600ms;
}



input{
    background-color: transparent;
    color: var(--nice-purple);
    font-family: 'Open Sans';
    border: solid;
    border-color: var(--bg-primary);
}

.exploreCard{
    display: flex;
    justify-content: center;
    align-items: center;
}



