:root{
    font-size: 16px;
    font-family: 'Open Sans';
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --nice-purple: #9966CC;
    --transition-speed: 600ms;
}

.bigContainer{
    display: flex;
    flex-direction: column;
    height : 100vh;
}


.bigContainer:last-child{
    margin-top: auto;
}

button{
    font-family: 'Open Sans';
    border-color:var(--nice-purple);
    border-radius: 1rem;
    background-color: var(--bg-primary);
    color: white;
}

a{
    text-decoration: none;
    color: white;
    cursor: default;
}


