<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">

    <title>Sign In</title>
</head>
<body class="LOGbody">
<main>
    <div class="LOGwave2">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
        </svg>
    </div>
<div class="LOGcard">
    <div class="card-body">
      <h2 class="text-center">Sign In</h2>
      <br>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <span>Username</span>
            <br>
            {{form.username}}
        </div>
        <div class="form-group">
            <span>Password</span>
            <br>
            {{form.password}}
        </div>
        <br>
        <button type="submit" class="LOGbutton">Sign In</button>
    </form>
    <br> <br>
    <p class="text-center">Don't have an account? <br>
       <b><a class= 'LOGlink' href="/register">Create an account</a></b></p>    
    
    </div>
    <div class="LOGwave">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z" class="shape-fill"></path>
        </svg>
    </div>

</main>  
</body>
</html>
